
#tip-logo {
    position: absolute;
    left: 10px;
    top: 5px;

}

.navbar {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #120f0f;
    min-height: 0;
    padding: 2px 0;
}

.navbar-brand {
    color: #FFF;
}

ul#menu {
    padding-right: 0;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(7, 255, 223, 0.86);
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: rgba(7, 255, 223, 0.86);
}

.navbar-nav li a, #logout-web {
    color: rgba(7, 255, 223, 0.86);
    padding: 3px;
    margin: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all .5s ease;
}

.navbar-nav li:nth-child(7) {
    margin-left: 200px;
}

ul.dropdown-menu li a, #logout-web {
    margin-left: 0;
}

.navbar-nav li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3px;
    border: 2px solid gold;
    color: #ffcc33;
}

ul.dropdown-menu li a:hover {
    background-color: gold;
    padding: 3px;
    color: rgba(0, 0, 0, 0.9);
}

input#logout-web:hover {
    background-color: gold;
    padding: 3px;
    color: rgba(0, 0, 0, 0.9);
}

.dropdown-menu .divider {
    background-color: rgba(0, 0, 0, 1);
}

.nav .open>a:focus,
.nav .open>a:visited {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3px;
    border: 2px solid gold;
    color: #ffcc33;
}

a.dropdown-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3px;
    border: 2px solid gold;
    color: #ffcc33;
}

.navbar-header a {
    font-size: 35px;
    margin-right: 40px;
}

.head-title {
    background: rgba(0, 0, 0, 0.9);
    margin-bottom: 0;
    letter-spacing: 2px;
    font-size: 25px;
    padding: 5px 0 10px 0;
    text-align: center;
    font-weight: bolder;
    /*        color: rgb(247, 182, 86);*/
    /*        color: linear-gradient(to top, #ffb347, #ffcc33);*/
    color: #ffb347;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
}

ul.dropdown-menu {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin-bottom: 10px;
}

#logout-web {
    text-align: center;
    width: 175px;
}





/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;

}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
    width: 100%;
    font-family: Consolas, monaco, monospace;
    background-image: url("../images/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.bg-login {

    background-image: url(../images/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 0;
    letter-spacing: 2px;
}


/* login page */

.nav-login .navbar-header .navbar-brand {
    color: rgba(0, 212, 236, 0.66);
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .5s ease;
}

.nav-login .navbar-header .navbar-brand:hover {
    color: rgba(237, 188, 47, 0.84);
}

.login-wrapper {
    background-color: rgba(64, 64, 64, 0.7);
    padding: 20px;
    margin-top: 40px;
    border: 3px solid rgb(147, 230, 228);
    border-radius: 5px;
    color: rgb(147, 230, 228);;
}

.user-wrapper, .password-wrapper {
    margin: 20px 5px;
}

.login-wrapper #error, .login-wrapper #logout {
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    background-color:rgba(213, 5, 39, 0.7);
}

.user-wrapper input[type='text'], .password-wrapper input[type='password']{
    background: transparent;
    color: white;
    font-size: 17px;
    padding: 10px 5px;
}

.password-wrapper input[type='password']::placeholder {
    color: rgba(147, 230, 228, 0.8);
    opacity: 1;
}

.user-wrapper input[type='text']::placeholder {
    color: rgba(147, 230, 228, 0.8);
    opacity: 1;
}

.password-wrapper input[type='password']::-ms-input-placeholder {
    color: rgba(147, 230, 228, 0.8);
    opacity: 1;
}

.user-wrapper input[type='text']::-ms-input-placeholder {
    color: rgba(147, 230, 228, 0.8);
    opacity: 1;
}


.user-wrapper .form-control, .password-wrapper .form-control {
    height: 50px;
    border: 2px solid rgb(147, 230, 228);
    border-left-style: none;
    border-radius: 0;
    box-shadow: none;


}

.user-wrapper .input-group-addon, .password-wrapper .input-group-addon  {
    color: rgba(147, 230, 228, 0.8);
    background: rgba(43, 40, 40, 0.2);
    border: 2px solid rgb(147, 230, 228);
    border-right-style: none;
    border-radius: 0;
}

.login-wrapper h3 {
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(147, 230, 228);
    text-align: center;

}


.login-wrapper hr {
    border-top: 3px solid rgb(147, 230, 228);
}

.login-wrapper strong {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.7;

}

input[type='checkbox'] {
    height: 17px;
    width: 17px;
}


.login-wrapper input[type='submit'].btn-login {
    background-color: rgba(147, 230, 228, 0.5);
    padding: 12px 0;
    border: 2px solid rgb(147, 230, 228);
    border-radius: 0;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
    transition: all .5s;

}

.login-wrapper input[type='submit'].btn-login:hover {
    background-color: rgba(147, 230, 228, 0.8);
}

/* Error message */
.error {
    color: rgba(233,59,51,0.89);
    font-weight: bold;
}

/* ADd NG Repair Form - Homepage */
form label {
    text-align: right;
    font-size: 17px;
    font-weight: bold;
    padding-top: 5px;
    margin-right: 0;
    padding-right: 0;
}

/* table */
.main-table {
    text-align: center;
    background-color: rgba(51, 0, 26, 0.7);
    margin-bottom: 5px;
}

.main-table thead th, .main-table tbody tr td, .main-table tbody>tr>td>a {
    text-align: center;
    white-space: nowrap;
    color: rgba(255, 230, 242, 0.85);
    text-transform: uppercase;
    transition: .5s;
}

.main-table thead>tr>th>a {
    color: rgba(255, 179, 217, 0.75);
    transition: 0.5s;
}

.main-table thead>tr>th>a:hover, .main-table tbody>tr>td>a:hover {
    color: rgba(255, 179, 217, 1);
}

.main-table thead {
    background-color: rgba(82, 15, 45, 0.80);
    border: 3px solid #520f2d;

}

.main-table thead > tr > th {
    border-bottom: 4px solid #520f2d;
    font-size: 15px;
    font-weight: bold;
}

.main-table tbody {
    border: 2px solid rgba(3,4,19, .8);
}

.main-table>tbody>tr>td {
    border-top: 2px solid rgba(51, 0, 26, 0.2);
}

.main-table tbody > tr {
    transition: 0.5s;
}

.main-table tbody > tr:hover {
    background-color: rgba(255, 128, 191, 0.5);
}

.main-table tbody > tr > td:hover {
    color: rgba(255, 230, 242, 1);
    font-weight: bold;
}

.main-table tfoot tr td {
    color: rgba(255, 230, 242, 0.85);
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

.main-table tfoot > tr {
    border: 2px solid rgba(3,4,19, .8);
    border-top: none;
}

.custom-pagination {
    margin: 0;
    padding: 5px;
    background-color: rgba(51, 0, 26, 0.7);
    border-radius: 0;
}

.custom-pagination>li>a {
    background-color: rgba(82, 15, 45, 0.8);
    border: 1px solid rgba(82, 15, 45, 1);
    color: rgba(255, 179, 217, 0.75);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.custom-pagination>li>a:hover {
    background-color: rgba(255, 128, 191, 0.4);
    border: 1px solid rgba(82, 15, 45, 0.7);
    color: rgba(82, 15, 45, 0.9);
}

.custom-pagination>li:first-child>a, .custom-pagination>li:last-child>a  {
    border-radius: 0;
}

.custom-pagination-tfoot {
    margin: 0;
    border-radius: 0;
    float: right;
}

.custom-pagination-tfoot>li>a {
    background-color: rgba(82, 15, 45, 0.8);
    border: 1px solid rgba(82, 15, 45, 1);
    color: rgba(255, 179, 217, 0.75);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.custom-pagination-tfoot>li>a:hover {
    background-color: rgba(255, 128, 191, 0.4);
    border: 1px solid rgba(82, 15, 45, 0.7);
    color: rgba(82, 15, 45, 0.9);
}

.custom-pagination-tfoot>li>a.first-page {
}

.custom-pagination-tfoot>li:first-child>a, .custom-pagination-tfoot>li:last-child>a  {
    border-radius: 0;
}
/* PC Withdrawal Page */
.withdrawal-pc-wrapper .row {
    margin-bottom: 10px;
}
.withdrawal-pc-wrapper .row h4 {
    font-weight: bold;
}

/* PC Spare Page */
.spare-pc-wrapper .row {
    margin-bottom: 10px;
}

.spare-pc-wrapper .row h4 {
    font-weight: bold;
}

/*home page */
.title-main {
    text-align: center;
}

.title-underline {
    height: 3px;
    width: 150px;
    margin: 0 auto 20px auto;
    background-color: #f6b674;
}

.title-underline-long {
    height: 3px;
    width: 80%;
    margin: 0 auto 20px auto;
    background-color: rgba(87,125,80,0.55);
}

h3 {
    padding: 0;
    font-weight: bold;
    color:#2d4c81 ;
    text-transform: uppercase;
}

.form-input, .fa-icon {
    border-radius: 0;
    border: 2px solid rgba(34,87,87,0.70);
    color: #225757;
    font-size: 15px;
}

.fa-icon {
    border: none;
    background-color: rgba(34,87,87,.70);
    color: white;
}

.pc-repair-form .form-group {
    text-align: center;
}

.btn-custom {
    border-radius: 0;
    border: 4px solid rgba(2,24,73,0.80);
    background-color: rgba(12,74,58,0.60);
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;

}

.btn-custom:hover {
    background-color: rgba(12,74,58,0.80);
    font-weight: bolder;
}

.pc-repair-form {
    border-radius: 0;
    background-color: rgba(21,186,190,0.3);
    border: 4px solid rgba(60,141,190,0.8);
}

.panel .main-title {
    background-color: rgba(60,141,190,0.8);
    text-align: left;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bolder;
    color: rgba(1, 1, 3, 0.7);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(60,141,190,0.8);
    border-radius: 0;
}

.panel .main-title .header-link-table {
    float: right;
    color: rgba(249,255,9,0.80);
    transition: 0.5s;
}

.panel .main-title .header-link-table:hover {
    text-decoration: none;
    color: rgba(255,210,8,1);
}

.panel .footer-submit {
    background-color: rgba(60,141,190,0.8);
    border-radius: 0;
    border-top: 1px solid rgba(60,141,190,0.8);
}

.panel .footer-submit .btn {
    color: rgba(207,250,250,0.6);
    border-radius: 0;
    background-color: rgba(7, 32, 58, 0.3);
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: bolder;
    transition: .5s;
}

.panel .footer-submit .btn:hover {
    color: rgba(207,250,250,0.8);
    background-color: rgba(7, 32, 58, 0.6);
    font-size: 18px;

}

.btn-back-link {
    background-color: rgba(201, 76, 76, 0.7);
    color: rgba(59, 58, 48, 0.7);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0;
    letter-spacing: 1px;
    border: 3px solid rgba(201, 76, 76, 0.6);
    margin-bottom: 10px;
    transition: 0.5s;

}

#withdraw-link {
    display: block;
    text-align: right;
}

.btn-back-link:hover {
    background-color: rgba(201, 76, 76, 0.8);
    color: rgba(245, 255, 242, 0.75);
    border: 3px solid rgb(201, 52, 22);
}

